@import './variables';
@import './custom_tabe';
@import './mixins';
@import './custom-thumbnail';


.custom-form-control,
.dropdown a.custom-btn {
  border: 1px solid #ebebeb;
  box-shadow: none;
  border-radius: 2px;
  color: #868686;
  height: 38px;
  padding: 6px 16px 7px;
  transition: all 0.3s ease;
}

.custom-form-control:focus {
  border-color: 1px solid $btn-danger-color-dark;
  box-shadow: 0px 0px 2px 0px $btn-danger-color-dark;
}

.dropdown a.custom-btn:hover {
  background-color: #d4d4d4;
  border: 1px solid #8c8c8c;
  color: $brand-danger;
}

.dropdown a.custom-btn:focus {
  color: button-style($brand-danger);
}

.custom-btn-outline-warning {
  @include button-style($brand-warning)
}

.custom-btn-warning {
  color: #000;
  background-color: $brand-warning;
  border-color: $brand-warning;
}

.custom-btn-outline-danger {
  @include button-style($brand-danger)
}

.add-to-cart-btn {
  background-color: #fff;
  font-weight: 700;
  color: $brand-primary;
  border: 1px solid #53ccd7;
}